name: V2 Convert word to markdown

on: 
  workflow_dispatch:
    # inputs:
    #   input_file:
    #     required: true
    #   output_file:
    #     required: true
    #     default: "docusaurus/docs/tutorial-basics/git.md"
      

jobs:
  convert_via_pandoc:
    
    runs-on: ubuntu-latest
    container:
      image: docker://pandoc/latex:2.9
      options: --entrypoint=sh
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: output
        run: |
          set -e
          mkdir output 
          find word-doc -type d | grep -v node_modules > folder.txt
          cat folder.txt
          cat folder.txt | while read LINE; do echo $LINE && mkdir -p output/$LINE  ;done
          ls -R output
          cat folder.txt | while read LINE; do ls  $LINE/*.docx | grep -v access > ls.txt && cat ls.txt | while read LS; do echo "$LS --  output/$LS.md" && pandoc -o "output/$LS.md"  -t gfm -f docx --wrap=none  -t gfm --extract-media=output/$LINE/media -s "$LS" ;done ;done
          cp -r output docusaurus/docs
        continue-on-error: true
      - name: upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: docx
          path: output
  
  create-pr-to-build:
    runs-on: ubuntu-latest
    needs: convert_via_pandoc
    steps:  
      - name: checkout
        uses: actions/checkout@v3
      - name: make folder
        run: |
          mkdir output
      - uses: actions/download-artifact@v3
        with:
          name: docx
          path: output
      - name: test some commands
        run: |
          ls -l
          cp -r output docusaurus/docs
          SHA=`git log --pretty=format:'%H' -n 1`

          echo $SHA
          git config --global user.email ${{ github.actor }}@users.noreply.github.com
          git config --global user.name ${{ github.actor }}
          
          git checkout -b ${{ github.run_id }} 
          echo ${{ github.run_id }} > run.txt
          git add .
          git commit -m "Convert docx to markdown"

          git push -u origin ${{ github.run_id }}

          # GitHub CLI api

          

          gh api \
            --method POST \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            /repos/${{ github.repository }}/pulls \
            -f title="Add a markdown file to website ${{ github.event.inputs.output_file }}" \
          -f body='Please pull these awesome changes in!' \
          -f head=${{ github.run_id }} \
          -f base='main' 
          


        env:
          GH_TOKEN: ${{ github.token }}
        
          
          
